fastapi
uvicorn
langchain
langserve
python-dotenv
langchain
langchain_core
langchain_community
langchain_openai
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
langchain_chroma
arxiv
wikipedia
langchainhub
groq
langchain-groq
cassio
sentence_transformers
ragstack-ai
datasets
langchain_astradb
langchain_objectbox
langchain_huggingface
transformers
ctransformers
python-box
unstructured
tiktoken
pinecone-client
google-generativeai